* {
  margin: 0px;
}

.headerComponent {
  display: flex;
  justify-content: space-between;
  background-color: rgb(220, 153, 30);
  padding: 0px 10px;
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 100%;

}

.nav-bar>ul {
  display: flex;
  /* align-items: center; */
}

.nav-bar>ul>li {
  padding: 6px;
  list-style-type: none;
  font-size: 20px;
}

.restaurantContainer {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* margin: 5px; */
  justify-content: center;
}

.top-section {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.restuarantCard {
  width: 250px;
  /* height: 300px; */
  /* border: 1px solid burlywood; */
  padding: 5px;
  margin: 15px;
  box-shadow: 0px 0px 3px;
  border-radius: 10px;
}

.restuarantCard:hover {
  border: 1px solid rgb(203, 164, 112);
  cursor: pointer;
}

.res-img {
  width: 250px;
  height:260px;
  border-radius: 10px;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(245, 211, 162);
  padding: 5px;
  border-radius: 8px;
}

.shimmer-container {
  /* margin: auto; */
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}

.shimmer-card {
  width: 260px;
  height: 300px;
  /* border: 1px solid burlywood; */
  padding: 5px;
  margin: 5px;
  box-shadow: 0px 0px 3px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.shimmer-img {
  width: 260px;
  height: 200px;
  border-radius: 10px;
  background-color: #cdcccc;
}

.shimmer-text {
  width: 220px;
  height: 20px;
  border-radius: 10px;
  background-color: #cdcccc;
  margin-top: 10px;
}

.shimmer-text2 {
  width: 180px;
  height: 20px;
  border-radius: 10px;
  background-color: #cdcccc;
  margin-top: 10px;
}

.search{
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(207, 223, 237);
  border: 0;
  margin-right: 5px;
}

.search-section{
  margin-right: 5px;
}

.button{
  background-color: bisque;
  padding: 10px;
  border-radius: 10px;
  border: 0;
}

.error-main-container{
  width: 500px;
  margin: auto;
  text-align: center;

}

.error-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.error-message{
  display:flex;
  align-items: center;
}

.error-img
{
  width: 150px;
  border-radius: 100%;
}

.items-card >ul>li{
  list-style-type:none;
}